@import "componts/reset";
@import "componts/variables";
@import "componts/mixin";

li {
  list-style-type: none;
  padding: 0 0.5em;
}
a {
  color: black;
  text-decoration: none;
}
section {
  text-align: center;
  height: 100vh;
  @include Background-setting;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .section-text {
    .title{
      font-weight: 500;
      font-size: 3.5rem;
    }
    .info{
      font-size: 1.5rem;
      
    }
  }
  .btn-group {
    display: flex;
    flex-direction: column;

    .dark-grey-btn {
      background-color: rgba(34, 25, 25, 0.745);
      a {
        color: white;
      }
    }
    .ligh-grey-btn{
      background-color: rgba(231, 226, 226, 0.736);
      
    }
    button {
      border: none;
      margin: 0.45em 2em;
      padding: 0.9em 0.5em;
      border-radius: 15px;
    }
  }
}
//home Page -model-3
header {
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  margin: 0 0.5em;
  font-size: 2.5rem;
  justify-content: space-between;
  .nav-first__links {
    display: none;
  }
  .nav-sec__links {
    li:nth-last-child(3) {
      display: none;
    }
    li:nth-last-child(2) {
      display: none;
    }
    .menu-btn {
      display: flex;
      align-items: center;
      padding: 0.2em 0.4em;
      background-color: rgba(132, 135, 135, 0.1);
      border-radius: 10px;
      a {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }
}
.model-3 {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/fdedb888-973c-45ec-965c-0958d39d08b4/bvlatuR/std/600x1576/M3-Homepage-M);
}
.model-y {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/3304be3b-dd0a-4128-9c26-eb61c0b98d61/bvlatuR/std/800x2100/Mobile-ModelY);
}
.model-s {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ba3606ef-ce2d-41e4-90aa-bb13d767bb1a/bvlatuR/std/1000x1576/ms-homepage-mobile);
}
.model-x {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/deedff20-4856-4e1f-8828-af2c08de154a/bvlatuR/std/600x1576/ModelX-Homepage-M);
}
.solor-panels {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/066f19b7-d68e-45e2-8575-ad0a6f8375a8/bvlatuR/std/600x1576/_25-HP-SolarPanels-M);
}
.solor-roof {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/20c666b9-d09b-4687-bb37-22c8500489c5/bvlatuR/std/750x850/HP-SR-Design-M);
}
.accessories {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/69095129-86c5-4f6c-a77a-740ceac04e82/bvlatuR/std/800x2100/Mobile-Accessories);
}

//
@media screen and (min-width: 756px) {
  header {
    .nav-first__links,
    .nav-sec__links {
      display: flex;
      li:nth-last-child(3) {
        display: flex;
      }
      li:nth-last-child(2) {
        display: flex;
      }
    }
  }
  .model-3 {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D);
  }
  .model-y {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70);
  }
  .model-s {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop);
  }
  .model-x {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D);
  }
  .solor-panels {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D);
  }
  .solor-roof {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D);
  }
  .accessories {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories);
  }
}
