@import "componts/reset";
@import "componts/variables";
@import "componts/mixin";

li {
  list-style-type: none;
  padding: 0.5em 0.5em;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(34, 25, 25, 0.745);
    a {
      color: white;
    }
  }
}
a {
  color: black;
  text-decoration: none;
}
section {
  text-align: center;
  height: 100vh;
  @include Background-setting;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .section-text {
    .title {
      font-weight: 500;
      font-size: 3.5rem;
    }
    .info {
      font-size: 1.5rem;
    }
  }
  .btn-group {
    display: inline;
    .dark-grey-btn {
      background-color: rgba(34, 25, 25, 0.745);
      padding: 1.5em 2.6em;
      transition: all 0.5s;
      a {
        color: white;
      }
    &:hover {
      background-color: #e7e2e2bc;

      a {
        color: black;
      }
    }
  }
  .ligh-grey-btn {
    padding: 1.5em;
    background-color: rgba(231, 226, 226, 0.736);
    transition: all 0.5s;
    &:hover {
      background-color: rgba(34, 25, 25, 0.745);
      a {
        color: white;
      }
    }
  }
  button {
    border: none;
    margin: 0.45em 2em;
    padding: 0.9em 0.5em;
    border-radius: 15px;
  }
  }
}



.navbar {
  top: 0;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.logo {
  margin-right: 50px;
  font-size: 2.2rem;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 1.5rem;
}
#toogle,
.navbar label {
  display: none;
}
label i {
  font-size: 1.5rem;
}
.menu {
  margin: 0 0.5em;
  display: flex;
}
.list-sec {
  margin-left: 0.8em;
}
.list-sec li a {
  color: rgb(255, 0, 0);
  transition: none 0.3s;
  &:hover {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toogle:checked ~ .menu {
    max-height: 100%;
  }
  label {
    background-color: rgba(119, 119, 119, 0.58);
    border-radius: 10px;
    padding: 0.3em;
    font-size: 1.5rem;
    &:hover {
      background-color: rgba(119, 119, 119, 0.12);
    }
  }
}

.model-3 {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/fdedb888-973c-45ec-965c-0958d39d08b4/bvlatuR/std/600x1576/M3-Homepage-M);
}
.model-y {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/3304be3b-dd0a-4128-9c26-eb61c0b98d61/bvlatuR/std/800x2100/Mobile-ModelY);
}
.model-s {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ba3606ef-ce2d-41e4-90aa-bb13d767bb1a/bvlatuR/std/1000x1576/ms-homepage-mobile);
}
.model-x {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/deedff20-4856-4e1f-8828-af2c08de154a/bvlatuR/std/600x1576/ModelX-Homepage-M);
}
.solor-panels {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/066f19b7-d68e-45e2-8575-ad0a6f8375a8/bvlatuR/std/600x1576/_25-HP-SolarPanels-M);
}
.solor-roof {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/20c666b9-d09b-4687-bb37-22c8500489c5/bvlatuR/std/750x850/HP-SR-Design-M);
}
.accessories {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/69095129-86c5-4f6c-a77a-740ceac04e82/bvlatuR/std/800x2100/Mobile-Accessories);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-nav {
    margin: 1.5em;
    .footer-nav_list {
      text-align: center;
      flex-direction: column;
      padding: 0 1.5em;
      display: flex;
      font-size: 1.5em;
    }
  }
}

//
@media screen and (min-width: 756px) {
  .model-3 {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D);
  }
  .model-y {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70);
  }
  .model-s {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop);
  }
  .model-x {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D);
  }
  .solor-panels {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D);
  }
  .solor-roof {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D);
  }
  .accessories {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories);
  }
  .btn-group {
    .dark-grey-btn,
    .ligh-grey-btn {
      border-radius: 0;
    }
  }

  footer {
    display: flex;
    .footer-nav {
      margin: 1.5em;
      .footer-nav_list {
        flex-direction: row;
        padding: 0 1.5em;
        display: flex;
        font-size: 1.5em;
      }
    }
  }
}
